<div id="terminal" style="font-family: monospace; background-color: #000000; color: #1cc500; width: 100%; height:100%;">
    <h1><?php echo $this->__('Knock, knock, Neo.') ?></h1>
    <?php echo $this->getChildHtml('commandline.new.line') ?>
    <?php echo $this->getChildHtml('commandline.shortcut.event') ?>
    <?php echo $this->getChildHtml('commandline.command.event') ?>
</div>
<style>
    .darkX_content {
        background: #000000 !important;
    }
</style>