<label style="font-family: monospace; font-size: 1.5em; color: #1cc500;"># </label>
<input style="font-family: monospace; font-size: 1.5em; color: #1cc500; background-color: #000000; border: none; width: 90%;" autofocus>